<script src="https://js.pusher.com/3.0/pusher.min.js"></script>
<center>
	<div style="font-family: verdana;" id="interests-header"><h3>SELECT YOUR EVENT CATEGORIES AND SUB-ACTIVITIES</h3></div>
</center>
<div id = "categories-container">
  <%=render partial: 'interests/show'  %>
</div>


<% if params[:skip] %>
<div id = "defer-interests"><a href = "/users/<%=@user.id%>/allinterests">Skip for now</a></div>
<% end %>



