<%=@user.email %>
<div id = "interests-header"><h3>Please Select Categories You'd Like to Recieve Invitations For</h3></div>
<div id = "categories-container">
  <%=render partial: 'interests/show'  %>
</div>
<div id = "defer-interests"><a href = "/users/<%=@user.id%>/allinterests">Skip for now</a></div>
