<div class="new-body">

  <div class="opacity">
  </div>

  <div class = "login-container">

    <div class = "logo-header">Get Together</div>
    <p>sign in with facebook to continue</p>

    <fb:login-button autologoutlink="true" data-size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
    </fb:login-button>
  </div>

</div>


