<div id="user-activities" style="display:none;"><%=current_user_activities%></div>
<br>

<div class = "new-event-container">
<%= render partial: "form", locals: { event: @event }  %>
</div>
<div id = "page-footer"></div>
