// Place all the styles related to the comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.delete-button a {
  color: gray;
  text-decoration: none;
}

.delete-button {
  border: 1px solid gray;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 20px;

}

.comment-name {
  display: inline-block;
  width: 90%;
}

