// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-instructions {
  font-size: 11px;
  color:gray;
}

#event-details-map {
  height:300px;
  width:500px;
}
