// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.my_dashboard {
  width: 70%;
  margin: auto;

}

.my_pic {
  height: 70px;
  width: 70px;
}


.dashboard-box {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border:4px solid #00695C;
  border-radius: 10px;
  max-height: 300px;
  width: 60%;
  overflow: scroll;
  padding: 10px;
}

.dashboard-box h4{
text-align: center;

}

.dashboard-box recent-comments {
  overflow: scroll;
}

.my_info {
  height: 80px;
}

.my-upcoming-events {
  background-color: white;
  display: block;
  transition: max-height 1s;
}

.my-upcoming-events:hover{
  max-height:600px;
  transition: max-height 1s;
}

.my-created-events {
  background-color:  white;
  display: block;
  max-height: 150px;
  transition: max-height 1s;
}
.my-created-events:hover{
  max-height:400px;
  transition: max-height 1s;
}

.my-past-events {
  background-color:  white;
  display: block;

}

.recent-comments {
  background-color: white;
  display: block;

}

#user-buttons{
margin-top: 20px;
  text-align: center;
}


a {
  text-decoration: none;
}

.new-event-form a, .update-profile a{
  text-decoration: none;
  color: white;
}
